Repository Mosnad-Web01/mosnad-platform, pull requests merged in 2024-11, with the labels that each got.

#17 Feature/landing page
  frontend/public/bg.png
  frontend/public/bg.svg
  frontend/public/bg2.png
  frontend/public/nav-logo.png
  frontend/public/social-media/underline,svg
  frontend/src/app/layout.js
  frontend/src/app/page.js
  frontend/src/components/common/ToggleButtonGroup.jsx
  frontend/src/components/forms/FAQ.jsx
  frontend/src/components/home/HeroSection.jsx
  frontend/src/components/layout/NavLink.js
  frontend/src/components/layout/Navbar.jsx
  frontend/src/components/layout/Sidebar.jsx
  frontend/tailwind.config.js
Labels: enhancement

#19 Feature/about section
  frontend/public/company-card-icon.svg
  frontend/public/interns-card-icon.svg
  frontend/public/jisr-logo.svg
  frontend/public/squadi-logo.svg
  frontend/public/talented-card-icon.svg
  frontend/public/whoarewe.svg
  frontend/src/app/page.js
  frontend/src/components/home/AboutSection.jsx
  frontend/src/components/home/CurvedCard.jsx
  frontend/src/components/home/HeroSection.jsx
  frontend/src/components/home/ServedCompaniesSection.jsx
Labels: User Story

#24 Feature/job listing section
  frontend/public/hiring-compony-logo.png
  frontend/src/app/page.js
  frontend/src/components/home/JobCard.jsx
  frontend/src/components/home/JobListings.jsx
  frontend/tailwind.config.js
Labels: enhancement, frontend

#29 Feature/price page
  .env.local
  frontend/src/app/page.js
  frontend/src/app/prices/page.jsx
  frontend/src/components/card/Card.jsx
  frontend/src/components/card/card.jsx
Labels: User Story, frontend

#31 Finished Homepage Design
  frontend/public/abdullah-story.svg
  frontend/public/achieve-your-dream.png
  frontend/public/career-track-img.png
  frontend/public/clients.png
  frontend/public/eman-profile.svg
  frontend/public/sara-story.svg
  frontend/public/suitable-job-card-img.png
  frontend/public/support-card-img.png
  frontend/public/team-member.svg
  frontend/src/app/page.js
  frontend/src/components/home/CareerPathCard.jsx
  frontend/src/components/home/CareerPathSection.jsx
  frontend/src/components/home/CareerPoint.jsx
  frontend/src/components/home/ClientOpinionsSection.jsx
  frontend/src/components/home/StoryCard.jsx
  frontend/src/components/home/SuccessStoriesSection.jsx
  frontend/src/components/home/TeamMembersSection.jsx
  frontend/src/components/home/TestimonialSection.jsx
Labels: frontend
