Repository Mosnad-Web01/mosnad-platform, pull requests merged in 2024-12, with the labels that each got.

#36 Feature/youth form api
  backend/app/Http/Controllers/api/CompanyFormController.php
  backend/app/Http/Controllers/api/YouthFormController.php
  backend/app/Models/CompanyForm.php
  backend/app/Models/YouthForm.php
  backend/config/cors.php
  backend/database/migrations/2024_12_01_180421_create_company_forms_table.php
  backend/database/migrations/2024_12_02_045721_create_youth_forms_table.php
  backend/routes/api.php
  frontend/src/components/common/Checkbox.jsx
  frontend/src/components/common/FieldContainer.jsx
  frontend/src/components/common/Radio.jsx
  frontend/src/components/common/TextArea.jsx
  frontend/src/components/forms/company/CompanyMultiStepForm.jsx
  frontend/src/components/forms/company/Step1.jsx
  frontend/src/components/forms/company/Step2.jsx
  frontend/src/components/forms/company/Step3.jsx
  frontend/src/components/forms/youth/Step1.jsx
  frontend/src/components/forms/youth/Step2.jsx
  frontend/src/components/forms/youth/Step3.jsx
  frontend/src/components/forms/youth/Step4.jsx
  frontend/src/components/forms/youth/Step5.jsx
  frontend/src/components/forms/youth/YouthMultiStepForm.jsx
  frontend/src/lib/axios.jsx
  frontend/src/middleware.js
Labels: enhancement

#39 Feature/Dashboard-General-layout
  backend/app/Http/Controllers/Dashboard/DashboardSessionController.php
  backend/config/cors.php
  backend/resources/css/app.css
  backend/resources/js/app.js
  backend/resources/js/sidebar.js
  backend/resources/views/auth/login.blade.php
  backend/resources/views/components/layout.blade.php
  backend/resources/views/components/layouts/navbar.blade.php
  backend/resources/views/components/layouts/sidebar-link.blade.php
  backend/resources/views/components/layouts/sidebar.blade.php
  backend/resources/views/dashboard/index.blade.php
  backend/resources/views/dashboard/users/index.blade.php
  backend/routes/web.php
Labels: frontend, backend

#40 Feature/user and company profile page
  frontend/public/cv/cv.pdf
  frontend/public/edit.svg
  frontend/public/email-icon.svg
  frontend/public/files.svg
  frontend/public/flag.svg
  frontend/public/location-icon.svg
  frontend/public/lock.svg
  frontend/public/logout.svg
  frontend/public/manage-account-icon.svg
  frontend/public/no-files.svg
  frontend/public/notification-message.png
  frontend/public/notification.svg
  frontend/public/request.svg
  frontend/public/success.svg
  frontend/public/userImage.jpg
  frontend/public/userImage.svg
  frontend/public/verify-icon.svg
  frontend/src/app/companyProfile/account/[edit]/page.jsx
  frontend/src/app/companyProfile/account/page.jsx
  frontend/src/app/companyProfile/employees/page.jsx
  frontend/src/app/companyProfile/layout.jsx
  frontend/src/app/companyProfile/notifications/page.jsx
  frontend/src/app/companyProfile/page.jsx
  frontend/src/app/companyProfile/requests/page.jsx
  frontend/src/app/userProfile/account/email/page.jsx
  frontend/src/app/userProfile/account/layout.jsx
  frontend/src/app/userProfile/account/manage/page.jsx
  frontend/src/app/userProfile/account/page.jsx
  frontend/src/app/userProfile/account/password/page.jsx
  frontend/src/app/userProfile/complete/page.jsx
  frontend/src/app/userProfile/files/page.jsx
  frontend/src/app/userProfile/layout.jsx
  frontend/src/app/userProfile/notifications/page.jsx
  frontend/src/app/userProfile/page.jsx
  frontend/src/app/userProfile/requests/page.jsx
  frontend/src/app/userProfile/resume/page.jsx
  frontend/src/components/cards/NotificationCard.jsx
  frontend/src/components/common/Input.jsx
  frontend/src/components/common/SelectInput.jsx
  frontend/src/components/common/StatusBadge.jsx
  frontend/src/components/layout/Navbar.jsx
  frontend/src/components/profile/Header.jsx
  frontend/src/components/profile/Sidebar.jsx
Labels: enhancement

#42 Feature/form results tables
  backend/app/Http/Controllers/Dashboard/CompanyFormController.php
  backend/app/Http/Controllers/Dashboard/YouthFormController.php
  backend/app/Http/Controllers/api/CompanyFormController.php
  backend/app/view/components/Pagination.php
  backend/resources/views/components/common/content-container.blade.php
  backend/resources/views/components/common/header.blade.php
  backend/resources/views/components/common/pagination.blade.php
  backend/resources/views/components/layout.blade.php
  backend/resources/views/components/layouts/sidebar-link.blade.php
  backend/resources/views/components/layouts/sidebar.blade.php
  backend/resources/views/dashboard/company-surveys/index.blade.php
  backend/resources/views/dashboard/youth-surveys/index.blade.php
  backend/resources/views/dashboard/youth-surveys/show.blade.php
  backend/routes/web.php
Labels: enhancement

#43 Feature/single survey page
  backend/app/Http/Controllers/Dashboard/CompanyFormController.php
  backend/app/Http/Controllers/Dashboard/YouthFormController.php
  backend/config/cors.php
  backend/resources/views/components/common/content-container.blade.php
  backend/resources/views/components/common/header.blade.php
  backend/resources/views/dashboard/company-surveys/index.blade.php
  backend/resources/views/dashboard/company-surveys/show.blade.php
  backend/resources/views/dashboard/youth-surveys/show.blade.php
  backend/routes/web.php
Labels: enhancement

#44 Feature/contact us api
  backend/app/Http/Controllers/Dashboard/ContactUsController.php
  backend/app/Http/Controllers/api/ContactUsController.php
  backend/app/Mail/ReplyNotification.php
  backend/app/Models/ContactUs.php
  backend/app/Models/Reply.php
  backend/config/cors.php
  backend/database/migrations/2024_12_06_001755_create_contact_us_table.php
  backend/database/migrations/2024_12_06_174534_create_replies_table.php
  backend/resources/views/components/common/content-container.blade.php
  backend/resources/views/components/layouts/sidebar.blade.php
  backend/resources/views/dashboard/contact-us/index.blade.php
  backend/resources/views/dashboard/contact-us/show.blade.php
  backend/routes/api.php
  backend/routes/web.php
  frontend/src/components/forms/Contact.jsx
  frontend/src/components/forms/youth/Step2.jsx
  frontend/src/components/home/SuccessStoriesSection.jsx
  frontend/src/components/home/TeamMembersSection.jsx
Labels: enhancement

#50 Feature/bootcamps crud
  backend/app/Http/Controllers/Dashboard/BootcampController.php
  backend/app/Http/Controllers/api/BootcampController.php
  backend/app/Models/Bootcamp.php
  backend/app/Models/User.php
  backend/database/factories/JobOpportunityFactory.php
  backend/database/migrations/2024_12_06_210344_create_bootcamps_table.php
  backend/database/migrations/2024_12_06_212218_add_bootcamp_id_to_users_table.php
  backend/database/seeders/JobOpportunitySeeder.php
  backend/resources/views/components/common/header.blade.php
  backend/resources/views/components/form/Input.blade.php
  backend/resources/views/components/form/file.blade.php
  backend/resources/views/components/form/textarea.blade.php
  backend/resources/views/components/layout.blade.php
  backend/resources/views/components/layouts/sidebar.blade.php
  backend/resources/views/dashboard/bootcamps/create.blade.php
  backend/resources/views/dashboard/bootcamps/edit.blade.php
  backend/resources/views/dashboard/bootcamps/index.blade.php
  backend/resources/views/dashboard/bootcamps/show.blade.php
  backend/resources/views/dashboard/company-surveys/index.blade.php
  backend/resources/views/dashboard/company-surveys/show.blade.php
  backend/resources/views/dashboard/contact-us/index.blade.php
  backend/resources/views/dashboard/contact-us/show.blade.php
  backend/resources/views/dashboard/job-opportunities/edit.blade.php
  backend/resources/views/dashboard/job-opportunities/index.blade.php
  backend/resources/views/dashboard/job-opportunities/show.blade.php
  backend/resources/views/dashboard/youth-surveys/index.blade.php
  backend/resources/views/dashboard/youth-surveys/show.blade.php
  backend/routes/api.php
  backend/routes/web.php
  frontend/src/app/CompaniesForm/page.jsx
  frontend/src/app/JobOpportunities/page.jsx
  frontend/src/app/YouthForm/page.jsx
  frontend/src/app/bootcamp/[id]/page.jsx
  frontend/src/app/page.js
  frontend/src/components/card/BootcampCard.jsx
  frontend/src/components/home/HeroSection.jsx
  frontend/src/components/home/JobCard.jsx
  frontend/src/components/home/JobListings.jsx
  frontend/src/components/layout/Navbar.jsx
  frontend/src/components/training/TrainingDetails.jsx
Labels: enhancement

#51 Design Dashboard Charts and Cards
  backend/app/Http/Controllers/Dashboard/DashboardController.php
  backend/resources/views/components/layout.blade.php
  backend/resources/views/dashboard/index.blade.php
  backend/routes/web.php
Labels: frontend, backend

#52 feat: add user managemen page
  backend/app/Http/Controllers/Dashboard/UserController.php
  backend/resources/views/components/layouts/sidebar.blade.php
  backend/resources/views/dashboard/users/create.blade.php
  backend/resources/views/dashboard/users/index.blade.php
  backend/routes/web.php
Labels: enhancement, backend

#54 feat: add search and filter functions for user management page
  backend/app/Http/Controllers/Dashboard/UserController.php
  backend/resources/views/components/common/search-filter.blade.php
  backend/resources/views/dashboard/users/index.blade.php
Labels: enhancement, backend

#55 Refactor/convert profiles to SPR
  frontend/src/app/company/company-profile/[id]/page.jsx
  frontend/src/app/company/companyForm/page.jsx
  frontend/src/app/companyProfile/account/[edit]/page.jsx
  frontend/src/app/companyProfile/account/page.jsx
  frontend/src/app/companyProfile/layout.jsx
  frontend/src/app/companyProfile/page.jsx
  frontend/src/app/student/user-profile/[id]/page.jsx
  frontend/src/app/student/user-profile/page.jsx
  frontend/src/app/userProfile/account/email/page.jsx
  frontend/src/app/userProfile/account/layout.jsx
  frontend/src/app/userProfile/account/page.jsx
  frontend/src/app/userProfile/account/password/page.jsx
  frontend/src/app/userProfile/layout.jsx
  frontend/src/app/userProfile/page.jsx
  frontend/src/components/company-profile/CompanyProfilePage.jsx
  frontend/src/components/company-profile/JobOffers.jsx
  frontend/src/components/company-profile/JobsApplicants.jsx
  frontend/src/components/company-profile/Notifications.jsx
  frontend/src/components/company-profile/account/AccountInfo.jsx
  frontend/src/components/company-profile/account/EditAccountPage.jsx
  frontend/src/components/company-profile/account/ManageAccount.jsx
  frontend/src/components/forms/SuccessPage.jsx
  frontend/src/components/forms/company/CompanyMultiStepForm.jsx
  frontend/src/components/forms/youth/YouthMultiStepForm.jsx
  frontend/src/components/layout/NavLink.js
  frontend/src/components/layout/Navbar.jsx
  frontend/src/components/profile/Header.jsx
  frontend/src/components/profile/Sidebar.jsx
  frontend/src/components/user-profile/CompleteAccountDetails.jsx
  frontend/src/components/user-profile/JobApplications.jsx
  frontend/src/components/user-profile/MyFiles.jsx
  frontend/src/components/user-profile/Notifications.jsx
  frontend/src/components/user-profile/Resume.jsx
  frontend/src/components/user-profile/UserProfilePage.jsx
  frontend/src/components/user-profile/account/AccountInfo.jsx
  frontend/src/components/user-profile/account/ManageAccount.jsx
  frontend/src/components/user-profile/account/ManageEmail.jsx
  frontend/src/components/user-profile/account/ManagePassword.jsx
Labels: frontend

#56 Feature/manage roles and permissions
  backend/app/Http/Controllers/Dashboard/AdminTypeController.php
  backend/app/Http/Controllers/Dashboard/PermissionController.php
  backend/app/Http/Controllers/Dashboard/UserController.php
  backend/app/Http/Middleware/CheckPermission.php
  backend/app/Models/AdminType.php
  backend/app/Models/Permission.php
  backend/app/Models/User.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Services/AdminTypeService.php
  backend/database/migrations/2024_12_10_193342_create_permissions_table.php
  backend/database/migrations/2024_12_10_193514_create_admin_types_table.php
  backend/database/migrations/2024_12_10_193654_create_admin_type_permission_table.php
  backend/database/migrations/2024_12_10_195532_create_user_admin_types_table.php
  backend/database/seeders/DatabaseSeeder.php
  backend/database/seeders/PermissionSeeder.php
  backend/database/seeders/UserSeeder.php
  backend/resources/js/app.js
  backend/resources/js/searchModal.js
  backend/resources/views/components/layout.blade.php
  backend/resources/views/components/layouts/sidebar.blade.php
  backend/resources/views/dashboard/admin-roles/create.blade.php
  backend/resources/views/dashboard/admin-roles/edit.blade.php
  backend/resources/views/dashboard/admin-roles/index.blade.php
  backend/resources/views/dashboard/index.blade.php
  backend/resources/views/dashboard/job-opportunities/index.blade.php
  backend/resources/views/dashboard/permissions/create.blade.php
  backend/resources/views/dashboard/permissions/edit.blade.php
  backend/resources/views/dashboard/permissions/index.blade.php
  backend/resources/views/dashboard/users/create.blade.php
  backend/routes/api.php
  backend/routes/web.php
Labels: frontend, backend

#59 Fix : Sidebar loading flash
  backend/resources/css/app.css
  backend/resources/js/sidebar.js
  backend/resources/views/components/layout.blade.php
  backend/resources/views/components/layouts/sidebar.blade.php
Labels: enhancement, frontend

#61 Refactor/Add Reusable Dashboard Components
  backend/resources/js/app.js
  backend/resources/js/deleteModal.js
  backend/resources/views/components/common/content-container.blade.php
  backend/resources/views/components/common/delete-modal.blade.php
  backend/resources/views/components/common/header.blade.php
  backend/resources/views/components/layout.blade.php
  backend/resources/views/components/table/action-buttons.blade.php
  backend/resources/views/components/table/badge.blade.php
  backend/resources/views/components/table/cell.blade.php
  backend/resources/views/components/table/empty-state.blade.php
  backend/resources/views/components/table/table.blade.php
  backend/resources/views/dashboard/admin-roles/index.blade.php
  backend/resources/views/dashboard/bootcamps/index.blade.php
  backend/resources/views/dashboard/company-surveys/index.blade.php
  backend/resources/views/dashboard/contact-us/index.blade.php
  backend/resources/views/dashboard/job-opportunities/index.blade.php
  backend/resources/views/dashboard/permissions/index.blade.php
  backend/resources/views/dashboard/users/index.blade.php
  backend/resources/views/dashboard/youth-surveys/index.blade.php
Labels: frontend, backend

#62 Feature : Create dynamic toaster
  backend/resources/css/app.css
  backend/resources/js/app.js
  backend/resources/views/components/layout.blade.php
Labels: backend

#64 Bug/user profile page
  backend/app/Http/Controllers/Dashboard/UserController.php
  backend/app/Http/Controllers/Dashboard/YouthFormController.php
  backend/app/Http/Controllers/api/UserController.php
  backend/app/Http/Controllers/api/YouthFormController.php
  backend/app/Http/Resources/UserProfileResource.php
  backend/app/Http/Resources/YouthFormResource.php
  backend/app/Models/CompanyForm.php
  backend/app/Models/User.php
  backend/app/Models/UserProfile.php
  backend/app/Models/YouthForm.php
  backend/app/Services/SearchService.php
  backend/database/migrations/2024_11_28_144204_update_users_table.php
  backend/database/migrations/2024_12_01_180421_create_company_forms_table.php
  backend/database/migrations/2024_12_02_045721_create_youth_forms_table.php
  backend/database/migrations/2024_12_09_231623_create_user_profiles_table.php
  backend/database/seeders/UserSeeder.php
  backend/resources/views/dashboard/users/create.blade.php
  backend/resources/views/dashboard/youth-surveys/index.blade.php
  backend/resources/views/dashboard/youth-surveys/show.blade.php
  backend/routes/api.php
  frontend/src/app/student/user-profile/[id]/page.jsx
  frontend/src/app/student/user-profile/page.jsx
  frontend/src/components/common/FieldContainer.jsx
  frontend/src/components/common/Spinner.jsx
  frontend/src/components/common/TextArea.jsx
  frontend/src/components/company-profile/JobOffers.jsx
  frontend/src/components/company-profile/JobsApplicants.jsx
  frontend/src/components/forms/SuccessPage.jsx
  frontend/src/components/forms/youth/Step1.jsx
  frontend/src/components/forms/youth/Step3.jsx
  frontend/src/components/forms/youth/YouthMultiStepForm.jsx
  frontend/src/components/layout/Navbar.jsx
  frontend/src/components/profile/Sidebar.jsx
  frontend/src/components/user-profile/CompleteAccountDetails.jsx
  frontend/src/components/user-profile/EditAccountDetails.jsx
  frontend/src/components/user-profile/FormData.jsx
  frontend/src/components/user-profile/JobApplications.jsx
  frontend/src/components/user-profile/Resume.jsx
  frontend/src/components/user-profile/UserProfilePage.jsx
  frontend/src/components/user-profile/account/AccountInfo.jsx
  frontend/src/components/user-profile/account/ManageAccount.jsx
  frontend/src/components/user-profile/account/ManageEmail.jsx
  frontend/src/components/user-profile/account/ManagePassword.jsx
  frontend/src/lib/axios.jsx
  frontend/src/middleware.js
Labels: enhancement, frontend, backend

#65 Create activites manegement pages and api for next js
  backend/app/Http/Controllers/Dashboard/ActivitiesController.php
  backend/app/Http/Controllers/api/ActivitiesController.php
  backend/app/Models/Activity.php
  backend/app/Providers/AppServiceProvider.php
  backend/database/migrations/2024_12_14_213037_create_activities_table.php
  backend/database/seeders/PermissionSeeder.php
  backend/resources/views/components/form/Input.blade.php
  backend/resources/views/components/layouts/sidebar.blade.php
  backend/resources/views/dashboard/activities/create.blade.php
  backend/resources/views/dashboard/activities/edit.blade.php
  backend/resources/views/dashboard/activities/index.blade.php
  backend/resources/views/dashboard/activities/show.blade.php
  backend/routes/api.php
  backend/routes/web.php
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/activities/[id]/page.jsx
  frontend/src/app/activities/page.jsx
  frontend/src/components/common/Spinner.jsx
  frontend/src/components/layout/Navbar.jsx
Labels: enhancement, frontend, backend

#67 Feat/companies profile page
  backend/app/Http/Controllers/Dashboard/CompanyFormController.php
  backend/app/Http/Controllers/api/AuthController.php
  backend/app/Http/Controllers/api/CompanyFormController.php
  backend/app/Http/Controllers/api/YouthFormController.php
  backend/app/Http/Resources/CompanyFormResource.php
  backend/app/Models/CompanyForm.php
  backend/app/Models/User.php
  backend/database/migrations/2024_12_01_180421_create_company_forms_table.php
  backend/resources/views/dashboard/company-surveys/index.blade.php
  backend/resources/views/dashboard/company-surveys/show.blade.php
  backend/resources/views/dashboard/youth-surveys/index.blade.php
  backend/routes/api.php
  frontend/src/app/company/company-profile/[id]/page.jsx
  frontend/src/app/company/company-profile/page.jsx
  frontend/src/components/company-profile/CompanyFormData.jsx
  frontend/src/components/company-profile/CompanyProfilePage.jsx
  frontend/src/components/company-profile/EditAccountData.jsx
  frontend/src/components/company-profile/account/AccountInfo.jsx
  frontend/src/components/company-profile/account/EditAccountPage.jsx
  frontend/src/components/company-profile/account/ManageAccount.jsx
  frontend/src/components/forms/SuccessPage.jsx
  frontend/src/components/forms/company/CompanyMultiStepForm.jsx
  frontend/src/components/forms/company/Step1.jsx
Labels: enhancement, frontend, backend

#68 Fix/company birthdate
  frontend/src/components/forms/company/CompanyMultiStepForm.jsx
  frontend/src/components/forms/company/Step1.jsx
Labels: enhancement

#69 Feature/ Integrate Job Opportunities Store Endpoint with a Frontend Form
  backend/app/Http/Controllers/Dashboard/JobOpportunityController.php
  backend/app/Http/Controllers/api/JobOpportunityController.php
  backend/app/Models/JobOpportunity.php
  backend/app/Models/User.php
  backend/app/Providers/AppServiceProvider.php
  backend/database/factories/JobOpportunityFactory.php
  backend/database/migrations/2024_12_05_185558_create_job_opportunities_table.php
  backend/routes/api.php
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/company-profile/JobOffers.jsx
  frontend/src/components/company-profile/manage-jobs/JobForm.jsx
  frontend/src/components/company-profile/manage-jobs/JobsTable.jsx
Labels: frontend, backend

#71 feat:Implement Dashboard Notification Functionality
  backend/app/Events/NewNotification.php
  backend/app/Http/Controllers/Dashboard/NotificationController.php
  backend/app/Http/Controllers/api/JobOpportunityController.php
  backend/app/Models/Notification.php
  backend/app/Models/User.php
  backend/app/Services/NotificationService.php
  backend/database/migrations/2024_12_21_144453_create_notifications_table.php
  backend/database/migrations/2024_12_21_144639_create_notification_user_table.php
  backend/resources/views/components/layout.blade.php
  backend/resources/views/components/layouts/navbar.blade.php
  backend/routes/web.php
Labels: enhancement, backend

#72 Fix/navbar
  backend/app/Http/Controllers/Dashboard/JobOpportunityController.php
  backend/app/Http/Controllers/api/YouthFormController.php
  backend/resources/views/components/layouts/navbar.blade.php
  backend/resources/views/dashboard/blogs/create.blade.php
  backend/resources/views/dashboard/blogs/index.blade.php
  backend/resources/views/dashboard/bootcamps/create.blade.php
  backend/resources/views/dashboard/job-opportunities/index.blade.php
  backend/resources/views/dashboard/youth-surveys/show.blade.php
  backend/routes/web.php
  frontend/public/hero-bg.png
  frontend/src/app/layout.js
  frontend/src/components/aos/AosInit.js
  frontend/src/components/company-profile/manage-jobs/JobForm.jsx
  frontend/src/components/forms/company/CompanyMultiStepForm.jsx
  frontend/src/components/forms/youth/YouthMultiStepForm.jsx
  frontend/src/components/home/AboutSection.jsx
  frontend/src/components/home/HeroSection.jsx
  frontend/src/components/home/ServedCompaniesSection.jsx
  frontend/src/components/home/TeamMembersSection.jsx
  frontend/src/components/layout/Navbar.jsx
  frontend/src/components/pages/blogs/BlogsPage.jsx
Labels: frontend, backend
